<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection Menu</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Quiz Question {{quizzID}}</h1>

    <p>{{quizz_content}}</p>

    <form action="/question_page" method="POST">

        <label>Answer:</label><br>
        <textarea name="quizz_answer"></textarea><br><br>

        <button type="submit">Send</button>
    </form>
    <br>

    <a href="/entry">Give up</a>


#In: Var.user
</body>
</html>